:root {
  --main-branding-color: #093a41;
  --main-branding-font: "Cardo", serif;
  --main-branding-font-size: 45px;
  --main-branding-font-weight: bold;
  --paragraph-font: "Mada", sans-serif;
}
.my-page {
  background-color: rgb(238, 255, 255);
}

h1 {
  font-family: var(--main-branding-font);
  font-size: var(--main-branding-font-size);
  color: var(--main-branding-color);
  text-align: center;
  background-color: rgb(209, 250, 250);
}

h2 {
  font-family: var(--paragraph-font);
  font-size: 20px;
  font-weight: bolder;
  color: var(--main-branding-color);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}

p {
  padding-top: 20px;
  font-family: var(--paragraph-font);
  text-align: center;
}

.icons {
  font-size: 30px;
  color: var(--main-branding-color);
}

.btn-light {
  background: #90c5ce;
}
.btn-light:hover {
  background: #bae2e9;
}
