:root {
  --main-branding-color: #093a41;
  --main-branding-font: 'Cardo', serif;
  --main-branding-font-size: 40px;
  --main-branding-font-weight: bold;
  --paragraph-font: 'Mada', sans-serif;;
}
body {
    background-color: rgb(238, 255, 255);
}

h1 {
    font-family: var(--main-branding-font);
    font-size: var(--main-branding-font-size);
    color: #093a41;
}

p {
    font-family: var(--paragraph-font);
}